**/__pycache__/*
**/*.DS_Store*
**/*.pkl.gz
**/*.ipynb_checkpoints*
**/*egg-info*
**/*.tgz
**/*.sqlite
**/*.parquet
**/*.db
**/*.pq
**/*.swp
**/*~
.hypothesis
.tox
.env
coverage.xml
.coverage
.vscode
add_to_training/*.xlsx
